.userContainer {
  border: 1px solid;
  width: 20%;
  margin: 0 auto;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.postsContainer {
  border: 1px solid;
  width: 20%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.postsContainer ul {
  list-style-type: none;
  padding: 0;
}

